.ticket-link {
    text-decoration: none;
    transition: background-color 0.1s;
    color: black;
}

.ticket-link:hover {
    text-decoration: none;
    background-color: #ddd;
}

.HighUrgency {
    color: red;
    display: inline-block;
}

.MediumUrgency {
    color: orange;
    display: inline-block;
}

.LowUrgency {
    color: blue;
    display: inline;
}