{% extends "baseLogged.html" %}

{% block nav %}
{{super()}}
{% endblock %}


{% block body %}


<div class="container">
  <div class="jumbotron">
<form action="/guest_toggle" method="POST">

  <!--GUEST FUNCTIONALITY
  {% if not guest_allow %}
  OFF
  {% else %}
  ON
  {% endif %}-->

  <h4 class="text-info">Guest Functionality</h4>
  <div class="btn-group" data-toggle="buttons" id="choiceForm">

    <label class="btn btn-primary{{ ' active' if guest_allow }}">
      <input type="radio" name="guest_choices" id="on" onchange="this.form.submit();" autocomplete="off" value="on"> On
    </label>
    <label class="btn btn-primary{{ ' active' if not guest_allow }}">
      <input type="radio" name="guest_choices" id="off" onchange="this.form.submit();" autocomplete="off" value="off"> Off
    </label>

  </div>
</form>

<div>
  <a href="/all_tickets">View All Tickets</a>
  <a href="/submit">Create Ticket</a>
  <a href="/create_account">Create New Account</a>
  {% if superadmin %}
  <a href="/admin_promote">Add/Revoke Admins</a>
  {% endif %}
</div>
</div>
  </div>
{% endblock %}
