{% extends "baseLogged.html" %}

{% block nav %}
{{super()}}
{% endblock %}


{% block body %}

<a href="/submit">Create Ticket</a>

<div>
  <h2>In Progress</h2>
  <table border="1px">
    {% if progress|length > 0 %}
    <tr>
      <td>Link</td>
      <td>Username</td>
      <td>Teacher Name</td>
      <td>Room Number</td>
      <td>Date Submitted</td>
      <td>Issue</td>
      <td>Additional Info</td>
      <td>Tech Respondent</td>
      <td>Status</td>
      <td>Status Time</td>
      <td>Urgency</td>
    </tr>
    {% endif %}
    
    {% for ticket in progress %}
    <tr>
      <td><a href="/ticket/{{ticket.primary_key}}">link</a></td>
      <td>{{ticket.username}}</td>
      <td>{{ticket.teacher_name}}</td>
      <td>{{ticket.room_num}}</td>
      <td>{{ticket.date_of_ticket}}</td>
      <td>{{ticket.tix_subject}}</td>
      <td>{% if ticket.tix_body is not none %}{{ticket.tix_body}}{% endif %}</td>
      <td>{% if ticket.tech_name is not none %}{{ticket.tech_name}}{% endif %}</td>
      <td>{% if ticket.status is not none %}{{ticket.status}}{% endif %}</td>
      <td>{% if ticket.when is not none %}{{ticket.when}}{% endif %}</td>
      <td>{% if ticket.urgency is not none %}{{ticket.urgency}}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div>
  <h2>Pending</h2>
  <table border="1px">
    {% if pending|length > 0 %}
    <tr>
      <td>Link</td>
      <td>Username</td>
      <td>Teacher Name</td>
      <td>Room Number</td>
      <td>Date Submitted</td>
      <td>Issue</td>
      <td>Additional Info</td>
      <td>Tech Respondent</td>
      <td>Status</td>
      <td>Status Time</td>
      <td>Urgency</td>
    </tr>
    {% endif %}
    {% for ticket in pending %}
    <tr>
      <td><a href="/ticket/{{ticket.primary_key}}">link</a></td>
      <td>{{ticket.username}}</td>
      <td>{{ticket.teacher_name}}</td>
      <td>{{ticket.room_num}}</td>
      <td>{{ticket.date_of_ticket}}</td>
      <td>{{ticket.tix_subject}}</td>
      <td>{% if ticket.tix_body is not none %}{{ticket.tix_body}}{% endif %}</td>
      <td>{% if ticket.tech_name is not none %}{{ticket.tech_name}}{% endif %}</td>
      <td>{% if ticket.status is not none %}{{ticket.status}}{% endif %}</td>
      <td>{% if ticket.when is not none %}{{ticket.when}}{% endif %}</td>
      <td>{% if ticket.urgency is not none %}{{ticket.urgency}}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div>
  <h2>Resolved</h2>
   <table border="1px">
    {% if resolved|length > 0 %}
    <tr>
      <td>Link</td>
      <td>Username</td>
      <td>Teacher Name</td>
      <td>Room Number</td>
      <td>Date Submitted</td>
      <td>Issue</td>
      <td>Additional Info</td>
      <td>Tech Respondent</td>
      <td>Status</td>
      <td>Status Time</td>
      <td>Urgency</td>
    </tr>
    {% endif %}
    {% for ticket in resolved %}
    <tr>
      <td><a href="/ticket/{{ticket.primary_key}}">link</a></td>
      <td>{{ticket.username}}</td>
      <td>{{ticket.teacher_name}}</td>
      <td>{{ticket.room_num}}</td>
      <td>{{ticket.date_of_ticket}}</td>
      <td>{{ticket.tix_subject}}</td>
      <td>{% if ticket.tix_body is not none %}{{ticket.tix_body}}{% endif %}</td>
      <td>{% if ticket.tech_name is not none %}{{ticket.tech_name}}{% endif %}</td>
      <td>{% if ticket.status is not none %}{{ticket.status}}{% endif %}</td>
      <td>{% if ticket.when is not none %}{{ticket.when}}{% endif %}</td>
      <td>{% if ticket.urgency is not none %}{{ticket.urgency}}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
