{% extends "base.html" %}

<title>Log In</title>

{% block nav %}
{{super()}}
{% endblock %}

{% block body %}
<div class="container">
  <h1>Log In</h1><br>
  <div class="row">
    <div class="col-3-md col-3-sm"></div>
    <div class="col-6-md col-6-sm col-12-xs">
      <div class="jumbotron">
	<form action="/login" method="POST">
	  <div class="form-group">
	    <label for="usernameInput">Username</label>
	    <input type="textarea" class="form-control" id="usernameInput" placeholder="Enter username" name="user">
	  </div>
	  <div class="form-group">
	    <label for="passInput">Password</label>
	    <input type="password" class="form-control" id="passInput" placeholder="Enter password" name="pass">
	  </div>
	  <button type="submit" class="btn btn-primary">Log In</button>
	</form>
      </div>
    </div>
    <div class="col-3-md col-3-sm"></div>
  </div>
</div>

{% endblock %}

