{% extends "baseLogged.html" %}

<title>Change Account Permissions</title>

{% block nav %}
{{super()}}
{% endblock %}

{% block body %}

{% if send %}
{% if msg %}
<div class="alert alert-success">{{msg}}</div>
{% else %}
<div class="alert alert-danger">Username does not exist!</div>
{% endif %}
{% endif %}

<h2>Change Level of Account</h2>

<form method="POST">
  User: <input type="text" name="username" placeholder="Account username"> </br>
  Current Level: [type here maybe - requires ajax] </br>
  New Level: <select name="newlevel">
    <option value="1">Admin</option>
    <option value="2">Tech</option>
    <option value="3">Teacher</option>
  </select>
  </br>
  <button type="submit">Change Level</button>
</form>

{% endblock %}
