{% extends "base.html" %}

<!-- VERIFY INPUTS WITH AJAX -->

<title>Create Ticket</title>

{% block nav %}
{{super()}}
{% endblock %}

{% block body %}
<div class="container">
  <h1>Submit Ticket</h1><br>
  <div class="row">
    <div class="col-3-md col-3-sm"></div>
    <div class="col-6-md col-6-sm col-12-xs">
      <div class="jumbotron">
	<form action="/submit" method="POST">
	  <div class="form-group">
	    <label for="ticketSubject">Subject</label>
	    <!--<input type="textarea" class="form-control" id="ticketSubject" placeholder="Briefly outline your problem" name="subject">-->
	    <select class="form-control" id="ticketSubject" name="subject">
	      <option value="" disabled selected>Brief outline of your problem</option>
	      <option value="0">Out of Toner</option>
	      <option value="1">Printer Issues (paper jam, does not print, printer error, etc)</option>
	      <option value="2">Laptop Issues</option>
	      <option value="3">Smartboard/Projector Issues(screen, display, volume, etc)</option>
	      <option value="4">Need item/equipment (please describe)</option>
	      <option value="5">Other (please describe)</option>
	      <option value="6"></option>
	    </select>
	  </div>	  
	  <div class="form-group">
	    <label for="ticketSubject">Room</label>
	    <input type="number" class="form-control" id="roomNumber" name="room" min="100" max="1099">
	  </div>
	  
	  {% if not teacherAcc %} <!-- admins need to put teacher name -->
	  <div class="form-group">
	    <!--<div class="row">
	      <div class="col-6-xs">-->
		<label for="ticketGuestFirstName">First Name</label>
		<input type="textarea" class="form-control" id="ticketGuestFirstName" placeholder="First Name" name="guestFirstName">
	      <!--</div>
	      <div class="col-6-xs">-->
		<label for="ticketGuestLastName">Last Name</label>
		<input type="textarea" class="form-control" id="ticketGuestLastName" placeholder="Last Name" name="guestLastName">
	      <!--</div>
	    </div>-->
	  </div>
	  {% endif %}
	  
	  <div class="form-group">
	    <label for="ticketDesc">Description</label>
	    <!--<input type="password" class="form-control" id="passInput" placeholder="Enter password" name="pass">-->
	    <textarea class="form-control" id="ticketDesc" placeholder="Describe your problem (max. 1000 chars)" maxlength="1000" rows="5" name="desc"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
      </div>
    </div>
    <div class="col-3-md col-3-sm"></div>
  </div>
</div>
{% endblock %}
