{% if loggedIn %}
{% extends "baseLogged.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block nav %}
{{super()}}
{% endblock %}


{% block body %}

<h1>All Tickets</h1>

<!-- The categories should be drop down menus -->


<p>
  <!--<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Link with href
    </a>-->
  
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#progress" aria-expanded="false" aria-controls="progress">
    In Progress
  </button>
</p>

<div class="collapse" id="progress">
  {% for ticket in progress %}
  <a href="/ticket/{{ticket.primary_key}}">
  <div class="card card-block">
    <!--<a href="/ticket/{{ticket.primary_key}}">link</a>-->
    <table>
      <tr>
	<td>Issue: {{ticket.tix_subject}}</td><td>Urgency: {{ticket.urgency if ticket.urgency}}</td>
      </tr>
      <tr>
	<td>Room: {{ticket.room_num}}</td><td>Teacher: {{ticket.teacher_name}}</td>
      </tr>
      <tr>
	<td>Status: {{ticket.status}} {{ticket.when if ticket.when}}</td><td>Date Submitted: {{ticket.date_of_ticket}}</td>
      </tr>
    </table>
  </div>
  </a>
  {% endfor %}
</div>


<p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pending" aria-expanded="false" aria-controls="pending">
  Pending
</button>
</p>

<div class="collapse" id="pending">
  {% for ticket in pending %}
  <a href="/ticket/{{ticket.primary_key}}">
  <div class="card card-block">
    <!--<a href="/ticket/{{ticket.primary_key}}">link</a>-->
    <table>
      <tr>
	<td>Issue: {{ticket.tix_subject}}</td><td>Urgency: {{ticket.urgency if ticket.urgency}}</td>
      </tr>
      <tr>
	<td>Room: {{ticket.room_num}}</td><td>Teacher: {{ticket.teacher_name}}</td>
      </tr>
      <tr>
	<td>Status: {{ticket.status}} {{ticket.when if ticket.when}}</td><td>Date Submitted: {{ticket.date_of_ticket}}</td>
      </tr>
    </table>
  </div>
  </a>
  {% endfor %}
</div>


<p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#resolved" aria-expanded="false" aria-controls="resolved">
  Resolved
</button>
</p>

<div class="collapse" id="resolved">
  {% for ticket in resolved %}
  <a href="/ticket/{{ticket.primary_key}}">
  <div class="card card-block">
    <!--<a href="/ticket/{{ticket.primary_key}}">link</a>-->
    <table>
      <tr>
	<td>Issue: {{ticket.tix_subject}}</td><td>Urgency: {{ticket.urgency if ticket.urgency}}</td>
      </tr>
      <tr>
	<td>Room: {{ticket.room_num}}</td><td>Teacher: {{ticket.teacher_name}}</td>
      </tr>
      <tr>
	<td>Status: {{ticket.status}} {{ticket.when if ticket.when}}</td><td>Date Submitted: {{ticket.date_of_ticket}}</td>
      </tr>
    </table>
  </div>
  </a>
  {% endfor %}
</div>


{% endblock %}

