{% extends "base.html" %}

{% block nav %}
{{super()}}
{% endblock %}


{% block body %}

<h1>All Tickets</h1>

<!-- The categories should be drop down menus -->

<div>
  <h2>In Progress</h2>
  <table>
    {% for ticket in progress %}
    <tr>
      {% for key,value in ticket.items() %}
      <td>
	{{value}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

<div>
  <h2>Pending</h2>
  <table border="1px">
    {% for ticket in pending %}
    <td><a href="/ticket/{{ticket.primary_key}}">link</a></td>
  <tr>
    {% for key,value in ticket.items() %}
    <td>
      {{value}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
</div>

<div>
  <h2>Resolved</h2>
  {% for ticket in done %}
  {{ticket}}
  {% endfor %}
</div>
{% endblock %}
