{% extends "baseLogged.html" %}

<title>Create Account</title>

{% block nav %}
{{super()}}
{% endblock %}

{% block body %}
<div class="container">

  {% if message == 'Account created!' %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% elif message is not none %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% endif %}
  
  <h1>Register</h1><br>
  <div class="row">
    <div class="col-4-md col-3-sm"></div>
    <div class="col-4-md col-6-sm col-12-xs">
      <div class="jumbotron">
	<form action="/create_account" method="POST">
	  <div class="form-group">
	    <label for="usernameInput">Username</label>
	    <input type="textarea" class="form-control" id="usernameInput" placeholder="Enter username" name="user">
	  </div>
	  <div class="form-group">
	    <label for="emailInput">Email address</label>
	    <input type="email" class="form-control" id="emailInput" placeholder="Enter email" name="email">
	  </div>
	  
	  <div class="form-group">
	    <label for="emailConf">Confirm email address</label>
	    <input type="email" class="form-control" id="emailConf" name="emailconf">
	  </div>
	  <div class="form-group">
	    <label for="passInput">Password</label>
	    <input type="password" class="form-control" id="passInput" placeholder="Enter password" name="pass">
	  </div>
	  <div class="form-group">
	    <label for="passConf">Confirm password</label>
	    <input type="password" class="form-control" id="passConf" name="passconf">
	  </div>
	   <div class="form-group">
	     <label for="accType">Account type</label>
	     <select id="accType" name="account" class="form-control">
	       {% if isSuper %}<option value="1">Admin</option>{% endif %}
	       <option value="2">Tech</option>
	       <option value="3">Teacher</option>
	     </select>
	   </div>
	   <div class="form-group">
	    <label for="firstNameInput">First Name</label>
	    <input type="textarea" class="form-control" id="firstNameInput" placeholder="" name="firstName">
	   </div>
	   <div class="form-group">
	    <label for="lastNameInput">Last Name</label>
	    <input type="textarea" class="form-control" id="lastNameInput" placeholder="" name="lastName">
	   </div>
	   <div class="form-group">
	    <label for="phoneNo">Phone Number (optional)</label>
	    <input type="number" class="form-control" id="phoneNp" name="phone">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
      </div>
    </div>
    <div class="col-4-md col-3-sm"></div>
  </div>
</div>
{% endblock %}
